html,body {
	background-color: slategrey;
	margin:0;
	padding:0;
	overflow: hidden;
}
button {
	line-height: 22px;
	border:none;
}
input[type="text"]{
	line-height: 22px;
	border:none;
	outline-style: none;
}

.form {
	padding: 10px;
    display: block;
    height: fit-content;
    margin: 10px;
    width: fit-content;
    background-color: lightgrey;
}
.page {
	top:120vh;
	left:0;
}
.page_full {
	top:0;
	left:0;
}
.page_left {
	top:0;
	left:-120vw;
}
.page_right {
	top:0;
	left:120vw;
}
.page,.page_full,.page_left,.page_right {
	position: fixed;
	height: -webkit-fill-available;
	width: -webkit-fill-available;
	background-color: grey;
	display: grid;
	transition: 666ms all ease-in-out;
}